body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-left: 0;
}

ul {
  position: fixed;
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a598f;
  height: 50px;
}

.ocean {
  background-color: #00918d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
}

li a:hover {
  background-color: #111;
}

.mapContainer {
  margin-top: 50px;
  width: 100%;
  height: 75%;
}

.slideContainer {
  width: 100%; /* Width of the outside container */
  height: 3%;
  padding-bottom: 5px;
}

.graphContainer {
  width: 100%;
  height: 18%;
}

.text {
  padding: 1px 0 0 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  z-index: 100;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  z-index: 100;
}