{% extends('base.html') %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Forecast map</title>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
{% endblock %}

{% block content %}
    <div class="mapContainer" id="map"></div>
    <div class="slideContainer">
        <input type="range" min="0" max="{{ num_frames - 2 }}" value="0" class="slider" id="slider">
        <span id="dateSpan"></span>
    </div>

    <div class="graphContainer" id="timeseries">
<!--        <span id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;' style="position: float">(x)</span>-->
    </div>

    <script>
      // Default to PML for atmosphere, approximately L4 for ocean
      {% if map_type == 'atmosphere' %}
      var lon = -4.147850827985379;
      var lat = 50.36607618658233;
      const interval = 250;
      {% elif map_type == 'ocean' %}
      var lon = -4.178129479786857;
      var lat = 50.2642872451734;
      const interval = 100;
      {% endif %}
      var isPaused = false;
      var x = document.getElementById("map");

      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '{{ api_key }}'
      });

      // Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Initialize a map:
      var map = new H.Map(
        document.getElementById('map'),
        maptypes.raster.terrain.map,
        {
          {% if map_type == 'atmosphere' %}
          zoom: 6,
          {% elif map_type == 'ocean' %}
          zoom: 7,
          {% endif %}
          center: { lat: lat, lng: lon }
        }
      );
      window.addEventListener('resize', () => map.getViewPort().resize());

      // Add a default marker - we'll update if we get either of a valid user
      // location (inside the model domain) or a click/tap.
      var marker = new H.map.Marker({ lat: lat, lng: lon });
      sendPos(lon, lat);
      map.addObject(marker);

      var mapEvents = new H.mapevents.MapEvents(map);
      map.addEventListener('tap', function (evt) {
        // Centre the map view on clicks
        var coord = map.screenToGeo(evt.currentPointer.viewportX,
              evt.currentPointer.viewportY);
        // map.setCenter({lng: coord.lng, lat: coord.lat})
        marker.setGeometry({lng: coord.lng, lat: coord.lat})
        // Send the position to the api
        sendPos(coord.lng, coord.lat);
      });

      var behavior = new H.mapevents.Behavior(mapEvents);
      var ui = H.ui.UI.createDefault(map, maptypes);

      // Get the frames into an array of URLs
      var weatherFrames = [];
      for (i = 0; i < {{ num_frames - 1 }}; i++) {
        count = i + 1;
        weatherFrames.push("{{ url_for('api.get_weather_frame', map_type=map_type, source=source, count='') }}" + count);
      }

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setupMap);
      } else {
        alert("Geolocation is not supported by this browser.");
      }

      function getPromise(URL) {
        let promise = new Promise(function (resolve, reject) {
          let req = new XMLHttpRequest();
          req.open("GET", URL);
          req.onload = function () {
            if (req.status == 200) {
              resolve(req.response);
            } else {
              reject("There is an Error!");
            }
          };
          req.send();
        });
        return promise;
      }

      function sendPos(lon, lat) {
        var x = new XMLHttpRequest();
        x.onreadystatechange = function () {
          if (x.readyState == 4) {
            if (x.status == 200 && x.status < 300) {
              var json = JSON.parse(x.responseText);
              // Add a new div for the graph
              {% if map_type == 'atmosphere' %}
              var temperature = {
                'x': json['utc_time'],
                'y': json['temperature_celsius'],
                'name': 'Temperature',
                'type': 'scatter',
                'marker': { color: '#0D6182' }
              };

              var temperature_chill = {
                'x': json['utc_time'],
                'y': json['temperature_celsius_wind_chill'],
                'name': 'Wind chill index',
                'type': 'scatter',
                'marker': { color: '#0D6182' },
                'line': { dash: 'dot', width: 2 }
              };

              var wind = {
                'x': json['utc_time'],
                'y': json['wind_speed_ms-1'],
                'name': 'Wind speed',
                'yaxis': 'y2',
                'type': 'scatter',
                'marker': { color: '#00AC31' }
              };

              var data = [temperature, temperature_chill, wind];

              var layout = {
                autosize: true,
                margin: { l: 50, r: 100, b: 50, t: 10 },
                yaxis: {
                  title: 'Temperature (°C)',
                  hoverformat: '.1f',
                  titlefont: { color: '#0D6182' },
                  tickfont: { color: '#0D6182' }
                },
                yaxis2: {
                  title: 'Wind speed (m/s)',
                  hoverformat: '.2f',
                  overlaying: 'y',
                  side: 'right',
                  titlefont: { color: '#00AC31' },
                  tickfont: { color: '#00AC31' }
                },
                hovermode: 'x',
                showlegend: false
              };
              {% elif map_type == 'ocean' %}
              var temperature = {
                'x': json['utc_time'],
                'y': json['temperature_celsius'],
                'name': 'Temperature',
                'type': 'scatter',
                'marker': { color: '#0D6182' }
              };

              var salinity = {
                'x': json['utc_time'],
                'y': json['salinity_psu'],
                'name': 'Salinity',
                'yaxis': 'y2',
                'type': 'scatter',
                'marker': { color: '#00AC31' }
              };

              var data = [temperature, salinity];

              var layout = {
                autosize: true,
                margin: { l: 50, r: 100, b: 50, t: 10 },
                yaxis: {
                  title: 'Temperature (°C)',
                  hoverformat: '.1f',
                  titlefont: { color: '#0D6182' },
                  tickfont: { color: '#0D6182' }
                },
                yaxis2: {
                  title: 'Salinity (PSU)',
                  hoverformat: '.2f',
                  overlaying: 'y',
                  side: 'right',
                  titlefont: { color: '#00AC31' },
                  tickfont: { color: '#00AC31' }
                },
                hovermode: 'x',
                showlegend: false
              };
              {% endif %}

              Plotly.newPlot('timeseries', data, layout);
            }
          }
        }

        {# No, this isn't very nice :/ #}
        x.open("GET", "{{ url_for('api.timeseries', source=source, map_type=map_type) }}?lon=" + lon + "&lat=" + lat, true);
        x.send(null)
      }

      function setupMap(pos) {
        var crd = pos.coords;
        // Only recentre the map if we're within the model bounds
        if ( {{ west }} < crd.longitude < {{ east }} && {{ south }} < crd.latitude < {{ north }}) {
          marker.setGeometry({lng: crd.longitude, lat: crd.latitude});
          map.setCenter({lng: crd.longitude, lat: crd.latitude});
          sendPos(crd.longitude, crd.latitude);
        }
      }

      function animateFrames(frames, interval) {
        var counter = 0;
        var overlay = new H.map.Overlay(
          new H.geo.Rect(
            {{ north }}, {{ west}},
            {{ south }}, {{ east }}
          ),
          frames[0],
          { volatility: true }  // the bitmap is frequently updated so mark as volatile
        );
        // add overlay to the map
        map.addObject(overlay);

        // Fetch the current dates from the API and animate the frames
        let datePromise = getPromise("{{ url_for('api.get_weather_dates', source=source, map_type=map_type) }}");
        var dates = [];
        datePromise
          .then(result => {
            let dates = JSON.parse(result);
            var slider = document.getElementById("slider");
            var output = document.getElementById("dateSpan");
            output.innerHTML = dates['times'][0];

            // Animate all the other frames
            intervalID = setInterval(function() {
              if (!isPaused) {
                counter = counter < frames.length ? ++counter : 1;
                overlay.setBitmap(weatherFrames[counter - 1]);
                // Update the date
                output.innerHTML = dates['times'][counter - 1];
                slider.value = counter - 1;
              }
            }, interval);

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
              // Stop the animation at this point
              isPaused = true;
              overlay.setBitmap(weatherFrames[this.value]);
              output.innerHTML = dates['times'][this.value];
            }

            slider.onmouseup = function() {
              isPaused = false;
              counter = slider.value;
            }

            slider.ontouchend = function() {
	      isPaused = false;
	      counter = slider.value;
	    }
          })
          .catch(error => console.log(error));
      }

      animateFrames(weatherFrames, interval);

    </script>
{% endblock %}
